.my-text {
  font-family: 'Great Vibes', 'Arial', sans-serif;
  color: #800020; /* Light pink color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text */
  margin: 20px 0;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  font-weight: bold;
  font-size: 450%;
  position: relative; 
  z-index: 1;
}

.my-text.fade-out {
  opacity: 0;
}

.fluid-img {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fluid-img.fade-out {
  opacity: 0;
}

.background-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.align-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 100px; /* Adjust this value to match the top margin */
}

.col.text-center {
  max-width: 600px;
  margin: 0 auto;
}

.audio-container {
  display: none; /* Hide the audio container */
}

@font-face {
  font-family: 'Great Vibes';
  src: url('./font/GreatVibes-Regular.ttf') format('truetype');
}